<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>


<app-nav-bar></app-nav-bar>
<!--navigation bar starts-->
<div>
  <div class="c22"><!--this c2 is for antelope cave background image-->
    <!--navbar starts-->
    <nav class="navbar navbar-expand-md navbar-light fixingnavbar text-dark">

      <div class="navbar-collapse collapse w-100 ">
        <ul class="navbar-nav mr-auto">
          <li class="display-4 p-2 pl-3 nav-item text-light">
            Product Details
          </li>
        </ul>
      </div>

    </nav>
  </div>
</div>
<!--navigation bar ends-->

<!--<h1>{{products.id}}</h1>-->
<div class="container">
  <div *ngFor="let prod of products">
    <div *ngIf="prod.productId==userId">
    <div class="row m-5">
        <div class="col-sm-7  p-5 bg-dark"><!--bg warning-->
          <img class="imagesizing" src="{{prod.productImage}}">
        </div>

        <div class="col-sm-5 p-2 py-5"><!--bg warning-->
          <div class="container c5">
            <div class="row m-3">
              <div class="col-sm-6 boldd">Product Id:</div><!--bg warning-->
              <div class="col-sm-6 ">{{prod.productId}}</div><!--bg warning-->
            </div>

            <div class="row m-3 ">
              <div class="col-sm-6 boldd">Product Name:</div><!--bg warning-->
              <div class="col-sm-6 ">{{prod.productName}}</div><!--bg warning-->
            </div>

            <div class="row m-3">
              <div class="col-sm-6 boldd">Product Price:</div><!--bg warning-->
              <div class="col-sm-6">{{prod.price}}</div><!--bg warning-->
            </div>

            <div class="row m-3">
              <div class="col-sm-6 boldd">Product Category:</div><!--bg warning-->
              <div class="col-sm-6">{{prod.productCategory}}</div><!--bg warning-->
            </div>

            <!--      (click)="addToCart(prod.id)" use it in below button-->
            <button type="button" class="btn mt-3 btn-primary" style="margin-left:120px;">Add to cart</button>
          </div>
          </div>
        </div>
      </div>

  </div>


