<app-nav-bar></app-nav-bar>
<div class="container">
<div class="row m-5">
  <div class="col-sm-7  p-5 bg-dark">
    <img class="imagesizing" src="assets/scenery.jpg">
  </div>
  <div class="col-sm-5 p-2 py-5">
    <div class="container">

      <div class="row">
        <span class="c2">Product Name: </span><span class="c3">    Belt</span>

      </div>

      <div class="row">
        <span class="c2">Availability:</span><span class="c3">   In stock</span>

      </div>

      <div class="row">
        <span class="c2">Price:</span><span class="c3"> Rs 350.00</span>

      </div>

      <div class="row">
        <span class="c2">Qty: </span><span class="c3">1</span>
        <div class="container c4">
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class=" btn btn-outline-secondary">-</button>
              <button type="button" class="mx-1 btn btn-outline-secondary">1</button>
              <button type="button" class="btn btn-outline-secondary">+</button>
            </div>
          </div>
        </div>
        <hr/>
      </div>

      <div class="row ">
        <button type="button" routerLink="/cart" class="mx-auto my-2 btnclass btn-small btn btn-primary">Add to Cart</button>
      </div>

    </div>
  </div>
</div>
</div>
