.c1{
  height: 110px;
  width: 118px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}
.c2{
  padding-top: 11px;
  box-sizing: border-box;
  position: relative;
  margin: 33px 0px 0px;
}
.c3{
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: large;
  letter-spacing: 15px;
}
.btncolor{
  background-color: lightgray;
  color: white;

}
