<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
</head>


  <div class=" p-3">
    <img class="c1" src="assets/logo.png">
    <div class="c3">ALOMOS</div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5" >
        <div class="card-body">
          <h5 class="card-title text-center">Log In</h5>
          <div style="text-align: center;padding-bottom: 15px;"><a routerLink="/signup" >or click here to Create Account</a></div>

         <!-- form starts-->
<div class="container">
<form ng-submit="vm.login()">
  <div>
      <div class="rounded my-2 c2">
        <input  class="md-form  p-2 form-control" type="text" name="username" placeholder="Email" [(ngModel)]="username" >
      </div>
    <div class="rounded my-2">
      <input class="md-form p-2 form-control" type="password"  name="password" placeholder="Password" id="password" [(ngModel)]="password" >
    </div>
    <div>
      <button type="submit" (click)="login()"  class="btn btn-primary  mx-auto d-block btn mt-3">Login</button>
    </div>
  </div>
</form>
</div>
<!--form ends-->

        </div>
      </div>
    </div>
  </div>
</div>

