<nav>
  <a routerLink="/login" routerLinkActive="active"></a>
  <a routerLink="/signup" routerLinkActive="active"></a>
  <a routerLink="/home" routerLinkActive="active"></a>
  <a routerLink="/product-list" routerLinkActive="active"></a>
  <a routerLink="/product-details" routerLinkActive="active"></a>
  <a routerLink="/cart" routerLinkActive="active"></a>
  <a routerLink="/my-account" routerLinkActive="active"></a>
  <a routerLink="/product-add" routerLinkActive="active"></a>
  <a routerLink="/logout" routerLinkActive="active"></a>


</nav>
<router-outlet></router-outlet>

