<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>


<div class=" p-3">
  <img class="c1" src="assets/logo.png">
  <div class="c3">ALOMOS</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5" >
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>

          <!--form starts-->
          <form class="pb-4">
            <div class="form-group">
              <label for="fname">First Name:</label>
              <input type="text" class="form-control" id="fname" required>
              <!--for validating fname field-----starts---->

              <!--for validating fname-----ends--->
            </div>
            <div class="form-group">
              <label for="lname">Last Name:</label>
              <input type="text" class="form-control" id="lname">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="name" [(ngModel)]="name" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" name="pass" [(ngModel)]="pass" class="form-control" id="pwd">
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
              </label>
            </div>
            <button type="submit" (click)="adduser()"  class="btn btn-primary">Create</button>
            <a href="#" class="pl-3">Log to an existing account</a>
          </form>
          <!--form ends-->

        </div>
      </div>
    </div>
  </div>
</div>
