<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>

<app-nav-bar></app-nav-bar>
<!--banner starts-->
<div >
  <div class="c2"><!--this c2 is for antelope cave background image-->
    <!--navbar starts-->
    <nav class="navbar navbar-expand-md navbar-light fixingnavbar text-dark">

      <div class="navbar-collapse collapse w-100 " >
        <ul class="navbar-nav mr-auto">
          <li class="display-4 p-2 pl-5 nav-item text-light">
            My Cart
          </li>
        </ul>
      </div>


      <div class="navbar-collapse collapse w-100 pr-3">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a href="#" class="itemstyling">Alomos</a>
          </li>
          <li class="nav-item px-2">
            <a class="text-light">/</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/home" class="itemstyling">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="text-light">/</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/cart"  class="itemstyling">My cart</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--navbar end-->
  </div>
</div>
<!--banner ends-->







<div class="container "><!--bg danger here-->
  <div *ngFor="let item of cart">

  <table class="table c1 table-bordered">
    <tr>
      <th></th>
      <th></th>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td><a  class="text-dark" (click)="removeProductFromCart(item.products.productId)">X</a></td>
      <td ><!--bg danger here-->
        <img src="{{item.products.productImage}}" height="70px" width="70px">
      </td>
      <td>{{item.products.productName}}</td>
      <td>{{item.products.price}}</td>

      <td>

        <div class="container">
          <button type="button" class="btn btn-outline-secondary" (click)="decreaseQuantityFromCart(item.products.productId)">-</button>
          <span>{{item.products.productQuantity}}</span>
          <button type="button" class="btn btn-outline-secondary" (click)="addProductToCart(item.products.productId)">+</button>
        </div>
      </td>

    </tr>
    <tr>
      <td colspan="6">
        <button type="button" style="color:white;" class="btn btn-primary float-right" routerLink="/product-list">Update Cart</button></td>
    </tr>
  </table>

</div>
</div>




<!--<div class="container c3 p-5 ">&lt;!&ndash;bg danger here&ndash;&gt;-->
<!--<div class="container mx-auto">&lt;!&ndash;bg danger here&ndash;&gt;-->
<!--  <span class="c6">Cart Totals</span>-->

<!--  <div class="row ">-->
<!--    <div class="col-sm-6 "> </div>&lt;!&ndash;bg danger here&ndash;&gt;-->
<!--    <div class="col-sm-6 ">&lt;!&ndash;bg danger here&ndash;&gt;-->
<!--      <table class="table mx-auto mt-3 table-bordered">-->
<!--      <tr>-->
<!--        <td class="boldtext">Subtotal</td>-->
<!--        <td>Rs 650.00</td>-->
<!--      </tr>-->
<!--        <tr>-->
<!--          <td class="boldtext">Total</td>-->
<!--          <td>Rs 650.00</td>-->
<!--        </tr>-->
<!--      </table>-->
<!--      <button type="button" style="float: right;" class="m-3 btn btn-primary">Proceed to checkout</button>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
<!--</div>-->

