<app-nav-bar></app-nav-bar>
<div class="container c1 ">
  <table class="  table table-bordered">
    <thead>
    <tr>
      <th ></th>
      <th ></th>
      <th>Product</th>
      <th >Price</th>
      <th >Quantity</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="c4"> <a>X</a></td>
      <td class="c3"><img src="assets/scenery.jpg" style="width: 70px;height: 70px;"></td>
      <td class="c3 ">Belt</td>
      <td class="c3"> Rs 650.00</td>
      <td class="c3">
        <div class="container ">
          <div class="row d-flex mx-5" >
            <button class="mx-1 btn text-light bg-primary col-sm-1">-</button>
            <button class="mx-1  btn text-light  bg-primary col-sm-1">1</button>
            <button class="mx-1 btn text-light bg-primary col-sm-1">+</button>
          </div>
        </div>
      </td>
      <td class="c3">Rs 650.00</td>
    </tr>
    <tr>
      <td colspan="6"><button class="c2 btn btn-primary">Update Cart</button></td>
    </tr>
    </tbody>
  </table>
</div>




