
td{
  text-align: center;
}
th{
  text-align: center;
}
.c1{
  padding:25px;
  margin-top: 60px;
}
.c2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/canyon3.jpg');
  height:110px;
  width:1520px;
  position: relative;
}
.itemstyling {
  color: white;
}
.c5{
  margin-left:90px;
}
.c6{
  font-size: 30px;
  font-weight: lighter;
padding-left: 800px;

}
.c3{
  margin-top:60px;
  margin-bottom: 70px;
}
.boldtext{
  font-weight: bold;
}



.bag
{
  font-size:20px;
}
.column8
{
  background-color: #FFF3FA;
}
.price
{
  display: flex;
  justify-content: space-between;
}
.item1
{
  display:flex;
  justify-content: space-between;
}
