<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>

<!--
<p>product-list works!</p>
<button (click)="goToDetails(1)">Click Me!</button>
-->

<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <div class="row">
    <!--side price range bar starts-->
    <div class=" sidebarcolor  col-sm-3">

      <!--category starts-->
      <div style="color:#8D8494;font-size:40px;font-weight: lighter;" class=" m-4  row">
        Product Category
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Clothing</span>
          <input type="checkbox" (click)="showClothing()">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Groceries</span>
          <input type="checkbox" (click)="showGroceries()">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Electronics</span>
          <input type="checkbox" (click)="showElectronics()">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Footwear</span>
          <input type="checkbox" (click)="showFootwear()">
          <span class="checkmark"></span>
        </label>
      </div>
      <!--category ends-->
      <hr/>
      <!--price range  starts-->
      <div style="color:#8D8494;font-size:40px;font-weight: lighter;" class=" m-4 row">
        Price Range
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Less than Rs 599</span>
          <input type="checkbox" (change)="goToPriceRange($event,0,599)">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Between Rs 599-Rs 999</span>
          <input type="checkbox" (change)="goToPriceRange($event,599,999)">
          <span class="checkmark"></span>
        </label>
      </div>


      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">Between Rs 999-Rs 2000</span>
          <input type="checkbox" (change)="goToPriceRange($event,999,2000)">
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="row pl-5 mt-3">
        <label class="containerr"><span class="sidebaritems">More than Rs 2000</span>
          <input type="checkbox" (change)="goToPriceRange($event,2000,52000)">
          <span class="checkmark"></span>
        </label>
      </div>


      <!--price range ends-->

    </div>
    <!--side price range bar ends-->
    <!--product lists starts-->
    <div class="col-sm-9">

      <div class="m-2 d-flex flex-wrap">
        <div *ngFor="let prod of product" class="m-4">
          <div class="card elementsAlignedInThree">
            <div class="mt-4 mx-auto">


              <div class="card-body ">
                <img class="card-img-top mx-4 image pb-3" src="{{prod.productImage}}">
                <div class="prodName mt-2 pnamecolor">{{prod.productName}}</div>
                <br>
                <div class="prodPrice">Rs {{prod.price}}</div>
                <br>
                <div class="prodPrice"><a href="/product-details/{{prod.productId}}">View Details{{prod.productId}}</a>
                </div>
                <br>
                <button type="button" (click)="goToCart(prod.productId)" class="btnclass btn-small btn btn-primary">Add
                  to Cart
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <!--product lists ends-->
  </div>
</div>
