<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>


<!--navbar starts-->
<nav class="navbar navbar-expand-md navbar-light navbarbgcolor text-dark">

  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="headingsize" href="#">Welcome to ShoppingBee</a>
      </li>
    </ul>
  </div>


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item pr-1">
        <button type="button" class="btn btn-secondary">Add new product</button>
      </li>
      <li class="nav-item pr-1">
        <button type="button" class="btn btn-secondary">My Profile</button>
      </li>
      <li class="nav-item pr-1">
      <button routerLink="/cart" type="button" class="btn btn-secondary">My Cart</button>
    </li>
      <li class="nav-item pr-1">
      <button type="button" routerLink="/login" class="btn btn-secondary">Log Out</button>
    </li>
    </ul>
  </div>
</nav>
<!--search bar-->

  <div class="input-group navbarbgcolor text-dark" id="searchbar">
    <input type="text" class="form-control" placeholder="Search" >
    <div class="input-group-append">
      <span class="input-group-text bg-secondary" id="basic-addon2">
        <i class="material-icons md-light">search</i></span>
    </div>
  </div>

