<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>
<app-nav-bar>
</app-nav-bar>
<!--banner starts-->
<div >
  <div class="c2"><!--this c2 is for antelope cave background image-->
    <!--navbar starts-->
    <nav class="navbar navbar-expand-md navbar-light fixingnavbar text-dark">

      <div class="navbar-collapse collapse w-100 " >
        <ul class="navbar-nav mr-auto">
          <li class="display-4 p-2 pl-5 nav-item text-light">
            My Order History
          </li>
        </ul>
      </div>


      <div class="navbar-collapse collapse w-100 pr-5">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a href="#" class="itemstyling">Alomos</a>
          </li>
          <li class="nav-item px-2">
            <a class="text-light">/</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/home" class="itemstyling">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="text-light">/</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/my-account"  class="itemstyling">My Account</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--navbar end-->
  </div>
</div>
<!--banner ends-->


<div class="container ">

    <table class="table c1 table-bordered">
      <thead>
      <tr>
        <th class="cx">Product Image</th>
        <th class="cx">Product Name</th>
        <th class="cx">Product Price</th>
        <th class="cx" >Price Quantity</th>
        <th class="cx">Date</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let o of cart">
        <td ><!--bg danger here-->
          <img src="{{o.products.productImage}}" height="70px" width="70px" style="margin-left: 90px;">
        </td>
        <td class="text-center">{{o.products.productName}}</td>
        <td class=" text-center ">{{o.products.price}}</td>
        <td class="text-center" >{{o.quantity}}</td>
        <td class="text-center">{{o.date}}</td>
      </tr>

      </tbody>
  </table>
</div>




<!--<tr>-->
<!--  <td><img  src="{{o.products.productImage}}"></td>-->
<!--  <td>{{o.products.productName}}</td>-->
<!--  <td>{{o.quantity}}</td>-->
<!--  <td>{{o.date}}</td>-->
<!--  <td>{{o.products.price}}</td>-->
<!--</tr>-->
