.c1{
  padding:25px;
  margin-top: 60px;
}
.cx{
  font-weight: bold;
  text-align: center;
}
.c2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/canyon3.jpg');
  height:110px;
  width:1536px;
  position: relative;
}
.itemstyling {
  color: white;
}
