<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>


<app-nav-bar></app-nav-bar>
<!--navigation bar starts-->
<div >
  <div class="c2"><!--this c2 is for antelope cave background image-->
    <!--navbar starts-->
    <nav class="navbar navbar-expand-md navbar-light fixingnavbar text-dark">

      <div class="navbar-collapse collapse w-100 " >
        <ul class="navbar-nav mr-auto">
          <li class="display-4 p-2 pl-5 nav-item text-light">
           Add new Product
          </li>
        </ul>
      </div>

    </nav>
  </div>
</div>
<!--navigation bar ends-->

<div class="container c1">
<form class="form-horizontal" action="/action_page.php">

  <div class="form-group">
    <label for="id">Product Id:</label>
    <input type="text" class="form-control" id="id" name="productId" [(ngModel)]="productId" (input)="update6($event.target.value)">
  </div>
  <div class="form-group">
    <label for="pname">Product Name:</label>
    <input type="text" class="form-control" id="pname" name="productname" [(ngModel)]="productname" (input)="update1($event.target.value)">
  </div>
  <div class="form-group">
    <label for="pprice">Product Price:</label>
    <input type="text" class="form-control" id="pprice" name="price" [(ngModel)]="price" (input)="update2($event.target.value)">
  </div>
  <div class="form-group">
    <label for="pcat">Product Category:</label>
    <input type="text" class="form-control" id="pcat" name="productcategory" [(ngModel)]="productcategory" (input)="update3($event.target.value)">
  </div>
  <div class="form-group">
    <label for="pmaterial">Product Quantity:</label>
    <input type="text" class="form-control" id="pmaterial" name="product_quantity" [(ngModel)]="productquantity" (input)="update4($event.target.value)">
  </div>
  <div class="form-group">
    <label for="pmaterial">Product Image:</label>
    <input type="text" class="form-control" id="pimage" name="product_image" [(ngModel)]="productimage" (input)="update5($event.target.value)" >
  </div>
  <button type="button" class="mt-3 btn btn-primary" (click)="addproduct()">Add Product</button>
  <button type="button" class="mt-3 ml-1 btn btn-primary" (click)="edit()">Edit Product</button>

</form>

</div>
