.c1{
  margin-top:50px;
  padding:30px;
  margin-bottom: 50px;
}
.c2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/canyon3.jpg');
  height:110px;
  width:1520px;
}
.itemstyling {
  color: white;
}

