.c1{
  height: 110px;
  width: 118px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.c2{
 text-align: center;

 padding-top:100px;
}
.c3{
  font-family: 'Cinzel', serif;
  text-align: center;
  font-size: large;
  letter-spacing: 15px;
}
