
<head>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<app-nav-bar></app-nav-bar>

<!--home page navbar starts-->
<!--navbar container starts-->
<div class="d-flex colorgrey col-sm-12 ">

  <!--menus start-->

  <div class="p-2">
    <nav class="navbar navbar-default navbar-left navbar-expand-sm colorgrey" style="max-width:100%; ">
      <ul class="navbar-nav">
        <li class="nav-item liststyling col-sm-2"><a class="nav-link text-dark" >Home</a></li>
        <li class="nav-item liststyling col-sm-2"><a class="nav-link text-dark" href="/home#id1">Clothing</a></li>
        <li class="nav-item liststyling col-sm-2"><a class="nav-link text-dark" href="/home#id2">Groceries</a></li>
        <li class="nav-item liststyling col-sm-2"><a class="nav-link text-dark" href="/home#id3">Electronics</a></li>
        <li class="nav-item liststyling col-sm-2"><a class="nav-link text-dark" href="/home#id4">Footwear</a></li>
      </ul>
    </nav>
  </div>
  <!--menus end-->

<!--  &lt;!&ndash;search bar starts&ndash;&gt;-->
<!--  <div class="p-2 my-3 mr-5 ml-auto navbar-right">-->
<!--    <form class="form-inline" >-->
<!--      <input class="form-control " type="text" placeholder="Search">-->
<!--      <button class="btn btn-secondary btn-sm" type="button"><i class="material-icons ">search</i></button>-->
<!--    </form>-->
<!--  </div>-->

<!--  &lt;!&ndash;search bar ends&ndash;&gt;-->

</div>
<!--navbar container ends-->

<!--&lt;!&ndash;navbar container 2 starts&ndash;&gt;-->
<!--<div class="container" >-->
<!--  <div class="row">-->
<!--    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">-->
<!--      <nav class="navbar navbar-dark bg-inverse">-->
<!--        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#CollapseNavbar">-->
<!--          &#9776;-->
<!--        </button>-->

<!--        <div class="collapse navbar-toggleable-xs" id="CollapseNavbar">-->
<!--          <a class="navbar-brand" href="#">Company Logo</a>-->

<!--          <ul class="nav navbar-nav">-->
<!--            <li class="nav-item active">-->
<!--              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>-->
<!--            </li>-->

<!--            <li class="nav-item ">-->
<!--              <a class="nav-link" href="#">Features</a>-->
<!--            </li>-->

<!--            <li class="nav-item ">-->
<!--              <a class="nav-link" href="#">Features</a>-->
<!--            </li>-->

<!--            <li class="nav-item ">-->
<!--              <a class="nav-link" href="#">Features</a>-->
<!--            </li>-->

<!--            <li class="nav-item ">-->
<!--              <a class="nav-link" href="#">Features</a>-->
<!--            </li>-->


<!--          </ul>-->

<!--          <form class="form-inline navbar-form pull-right">-->
<!--          <input class="form-control" type="text" placeholder="Search">-->
<!--            <button class="btn btn-success-outline" type="submit">Search</button>-->
<!--          </form>-->
<!--        </div>-->

<!--      </nav>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;navbar container 2 ends&ndash;&gt;-->

<div id="container" class="fixingimg">
  <img id="someimg"  src="assets/cloth3.jpg">
  <div id="overlay">
    <span >


      <div class="container pt-3 textstyling">
      <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> A</div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-5"> </div>
      </div>
          <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-1">L </div>
        <div class="col-sm-5"> </div>
      </div>
            <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> O</div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-5"> </div>
      </div>
            <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-1">M </div>
        <div class="col-sm-5"> </div>
      </div>
            <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> O</div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-5"> </div>
      </div>
            <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-1"> S</div>
        <div class="col-sm-5"> </div>
      </div>
                   <!-- <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> E</div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-5"> </div>
      </div>
                    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-1"> </div>
        <div class="col-sm-1"> R</div>
        <div class="col-sm-5"> </div>
      </div>-->
    </div>


<button type="button" routerLink="/product-list" class="btn  text-dark textstyling2 d-flex justify-content-center d-md-table mx-auto">Discover more</button>
    </span>
  </div>
</div>

<!--clothing banner starts-->
<div  class="marginline">
  <div class="container ">
    <div class="row">
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
      <div class="col-sm-2 " id="id1"><a class="xx1" routerLink="/product-list">Clothing</a></div>
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
    </div>
  </div>
</div>
<!--clothing banner ends-->
<!--clothing images starts-->
<div class=" container mb-5 mt-5">
<div class="row">
  <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/womaninwhitecoat.jpg"></a></div>
  <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/girlwithapurse.jpg"></a></div>
  <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/girlwithabag.jpg"></a></div>
</div>
</div>
<!--clothing images ends-->



<!--groceries banner starts-->
<div class="marginline">
  <div class="container ">
    <div class="row">
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
      <div id="id2"  class="col-sm-2 "><a class="xx1" routerLink="/product-list">Groceries</a></div>
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
    </div>
  </div>
</div>
<!--groceries banner ends-->
<!--groceries images starts-->
<div class=" container mb-5 mt-5">
  <div class="row">
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/grocerytwo.jpg"></a></div>
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/groceryfour.jpg"></a></div>
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/grocerythree.jpg"></a></div>
  </div>
</div>
<!--groceries images ends-->



<!--electronics banner starts-->
<div  class="marginline">
  <div class="container ">
    <div class="row">
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
      <div  id="id3" class="col-sm-2 "><a class="xx1" routerLink="/product-list">Electronics</a></div>
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
    </div>
  </div>
</div>
<!--electronics banner ends-->
<!--electronics images starts-->
<div class=" container mb-5 mt-5">
  <div class="row">
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/gadgets.jpg"></a></div>
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/iphone.jpg"></a></div>
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/laptop.jpg"></a></div>
  </div>
</div>
<!--electronics images ends-->




<!--Footwear banner starts-->
<div  class="marginline">
  <div class="container ">
    <div class="row">
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
      <div class="col-sm-2" id="id4"><a class="xx1" routerLink="/product-list">Footwear</a></div>
      <div class="col-sm-5 mt-3"><hr class="bgsecondary"/></div>
    </div>
  </div>
</div>
<!--Footwear banner ends-->
<!--Footwear images starts-->
<div class=" container mb-5 mt-5">
  <div class="row">
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/sneaker.jpg"></a></div>
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/loafers.jpg"></a></div>
    <div class="col-sm-4"><a routerLink="/product-list"><img class="somimg" src="assets/heels.jpg"></a></div>
  </div>
</div>
<!--Footwear images ends-->


<app-footer></app-footer>
