.c2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/canyon3.jpg');
  height:110px;
  width:1530px;
  position: relative;
}
.itemstyling {
  color: white;
}
.c1{
  margin:10px 0 140px 0;
}
