<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<app-nav-bar></app-nav-bar>

<!--my profile starts-->
<!--banner starts-->
<div >
  <div class="c2"><!--this c2 is for antelope cave background image-->
    <!--navbar starts-->
    <nav class="navbar navbar-expand-md navbar-light fixingnavbar text-dark">

      <div class="navbar-collapse collapse w-100 " >
        <ul class="navbar-nav mr-auto">
          <li class="display-4 p-2 pl-5 nav-item text-light">
            My Account
          </li>
        </ul>
      </div>


      <div class="navbar-collapse collapse w-100 pr-5">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a href="#" class="itemstyling">Alomos</a>
          </li>
          <li class="nav-item px-2">
            <a class="text-light">/</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/home" class="itemstyling">Home</a>
          </li>
          <li class="nav-item px-2">
            <a class="text-light">/</a>
          </li>
          <li class="nav-item ">
            <a routerLink="/product-list"  class="itemstyling">Go to products-list</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--navbar end-->
  </div>
</div>
<!--banner ends-->
<!--my profile ends!-->

<div class="m-5">
<div class="container ">
<div class="row">
  <!--side table starts-->
  <div class="col-sm-4 ">
    <table class="mt-3 table table-bordered">
      <tr>
        <td><a class="text-dark" routerLink="/home">Dashboard</a></td>
      </tr>
      <tr>
        <td><a  class="text-dark" routerLink="/orderhistory">Order History</a></td>
      </tr>
      <tr>
        <td><a  class="text-dark" routerLink="/cart">My Cart</a></td>
      </tr>
    </table>
  </div>
  <!--side table ends-->

  <!--my account starts-->
  <div class="col-sm-8 " *ngIf="myp">
    <table class="table table-bordered">
      <tr>
        <td>First Name:</td>
        <td><input type="text" name="fname" [(ngModel)]="myp.fname" value="{{myp.fname}}"></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" name="lname" [(ngModel)]="myp.lname" value="{{myp.lname}}"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="username" [(ngModel)]="myp.username" value="{{myp.username}}"></td>
      </tr>
      <tr>
        <td>Phone No:</td>
        <td><input type="text" name="phno" [(ngModel)]="myp.phno" value="{{myp.phno}}"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-primary" (click)="editprofile()">Update Profile</button>
        </td>
      </tr>
    </table>
  </div>
<!--my account ends-->
</div>
</div>
</div>



<!--<div class="col-sm-8 " *ngIf="myp">-->
<!--  <table class="table table-bordered">-->
<!--    <tr>-->
<!--      <td>First Name:</td>-->
<!--      <td>{{myp.fname}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Last Name:</td>-->
<!--      <td>{{myp.lname}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Email:</td>-->
<!--      <td>{{myp.username}}</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Phone No:</td>-->
<!--      <td>{{myp.phno}}</td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->
